In [1]:
import pandas as pd
from pprint import pprint
from util.managers.DataframeManager import DataframeManager
from util.managers.DataframeManager import ColumnName
from util.managers.CountryCodeManager import CountryCodeManager
from util.managers.UnitConverterManager import UnitConverterManager

# Variables to be used all over the notebook

In [2]:
DATASET_ID = "T002"
dataframeManager = DataframeManager(DATASET_ID)
countryCodeManager = CountryCodeManager()

# Opening the dataset

In [3]:
filename = "T002_ITF_GOODS_TRANSPORT_25102019112757117.csv"
path = "/Users/hlinero/Desktop/iTEM Material/raw dataset/T002/{}".format(filename)
df = dataframeManager.get_dataframe_from_csv_file(path)
df

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1970,1970,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
1,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1971,1971,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
2,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1972,1972,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
3,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1973,1973,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
4,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1974,1974,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,BLR,Belarus,T-CONT-RL-TON,Rail containers transport (weight),2017,2017,TONNE,Tonnes,3,Thousands,NaN,NaN,4786.0,NaN,NaN
6477,BLR,Belarus,T-CONT-RL-TON,Rail containers transport (weight),2018,2018,TONNE,Tonnes,3,Thousands,NaN,NaN,5478.3,NaN,NaN
6478,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2016,2016,NBR,Number,0,Units,NaN,NaN,333484.0,NaN,NaN
6479,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2017,2017,NBR,Number,0,Units,NaN,NaN,524020.0,NaN,NaN
6480,BLR,Belarus,T-CONT-RL-TEU,Rail containers transport (TEU),2018,2018,NBR,Number,0,Units,NaN,NaN,635886.0,NaN,NaN

# Removing all unnecessary columns
    Rule: To comply with the latest template, we will drop all the unnecessary columns and rename others.

In [4]:
# Droping the repeated columns
columns_to_delete = ["COUNTRY", "YEAR", "VARIABLE","Reference Period Code","Unit Code","Reference Period", "Flag Codes", "Flags", "PowerCode Code"]
df.drop(columns=columns_to_delete, inplace = True)
df

,Country,Variable,Year,Unit,PowerCode,Value
0,North Macedonia,Maritime containers transport (weight),1970,Tonnes,Thousands,NaN
1,North Macedonia,Maritime containers transport (weight),1971,Tonnes,Thousands,NaN
2,North Macedonia,Maritime containers transport (weight),1972,Tonnes,Thousands,NaN
3,North Macedonia,Maritime containers transport (weight),1973,Tonnes,Thousands,NaN
4,North Macedonia,Maritime containers transport (weight),1974,Tonnes,Thousands,NaN
...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Identifying the countries that have NaN values
    Rule: Drop all columns who have NaN as value

In [5]:
list_of_countries_with_missing_values = list(set(df[df['Value'].isnull()]["Country"]))
print(">> Number of countries missing values: {}".format(len(list_of_countries_with_missing_values)))
print(">> Countries missing values:")
pprint(list_of_countries_with_missing_values)
print(">> Number of rows to erase: {}".format(len(df[df['Value'].isnull()])))

>> Number of countries missing values: 15
>> Countries missing values:
['Czech Republic',
 'Armenia',
 'Moldova',
 'Serbia, Republic of',
 'Hungary',
 'Liechtenstein',
 'Slovak Republic',
 'Belarus',
 'Austria',
 'Iceland',
 'Montenegro, Republic of',
 'Switzerland',
 'Luxembourg',
 'Malta',
 'North Macedonia']
>> Number of rows to erase: 1498

In [6]:
# Dropping the values
df.dropna(inplace = True)

# Adding the "Source" Column
    Rule: All the rows in this dataset come from the same source.

In [7]:
dataframeManager.simple_column_insert(df,ColumnName.SOURCE.value,"International Transport Forum")
df

,Source,Country,Variable,Year,Unit,PowerCode,Value
49,International Transport Forum,India,Rail containers transport (TEU),1996,Number,Units,704000.0
50,International Transport Forum,India,Rail containers transport (TEU),1997,Number,Units,722000.0
51,International Transport Forum,India,Rail containers transport (TEU),1998,Number,Units,802000.0
52,International Transport Forum,India,Rail containers transport (TEU),1999,Number,Units,903000.0
53,International Transport Forum,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...
6476,International Transport Forum,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,International Transport Forum,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Adding the "Service" column
    Rule: Since all the data presented is related to "Freight", the service is "Freight"

In [8]:
dataframeManager.simple_column_insert(df,ColumnName.SERVICE.value,"Freight")
df

,Service,Source,Country,Variable,Year,Unit,PowerCode,Value
49,Freight,International Transport Forum,India,Rail containers transport (TEU),1996,Number,Units,704000.0
50,Freight,International Transport Forum,India,Rail containers transport (TEU),1997,Number,Units,722000.0
51,Freight,International Transport Forum,India,Rail containers transport (TEU),1998,Number,Units,802000.0
52,Freight,International Transport Forum,India,Rail containers transport (TEU),1999,Number,Units,903000.0
53,Freight,International Transport Forum,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...,...
6476,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Adding the "Technology" and "Fuel" columns
    Rule: The dataset does not provide any information about technology or fuel. So, we set the value of "All" in both cases

In [9]:
# Adding the "Technology" and "Fuel" columns
dataframeManager.simple_column_insert(df,ColumnName.TECHNOLOGY.value,"All")
dataframeManager.simple_column_insert(df,ColumnName.FUEL.value,"All")
df

,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,PowerCode,Value
49,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1996,Number,Units,704000.0
50,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1997,Number,Units,722000.0
51,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1998,Number,Units,802000.0
52,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1999,Number,Units,903000.0
53,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),2000,Number,Units,1045000.0
...,...,...,...,...,...,...,...,...,...,...
6476,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Creating the "Mode" column
    Rule: This dataset contains information about "Rail" and "Shipping". To determine whether it is a "Rail" or "Shipping," we will use the data provided in the "Variable" column.

In [10]:
# Setting the keywords to search for
rail_keyword = "Rail"
shipping_keyword = "Maritime"

#Variable holding the mode type
mode_results = []

# For each row, get the index and rename
for index, row in df.iterrows():
    
    if rail_keyword in row["Variable"]:
        mode_results.append("Rail")
    else:
        mode_results.append("Shipping")

# Adding the new column to the dataframe
df[ColumnName.MODE.value] = mode_results

# Asserting that all the mode for each row is correct
for index, row in df.iterrows():
    if rail_keyword in row["Variable"]:
        assert row["Mode"] == "Rail"
    else:
        assert row["Mode"] == "Shipping"

# Printing the dataframe        
df

,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,PowerCode,Value,Mode
49,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1996,Number,Units,704000.0,Rail
50,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1997,Number,Units,722000.0,Rail
51,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1998,Number,Units,802000.0,Rail
52,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1999,Number,Units,903000.0,Rail
53,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...
6476,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,Rail
6477,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,Rail
6478,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,Rail
6479,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,Rail
6480,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,Rail

# Setting the "Vehicle Type" column
    Rule: Since the entire dataset is about containers data, the vehicle type is "Container

In [11]:
dataframeManager.simple_column_insert(df,ColumnName.VEHICLE_TYPE.value,"Container")
df

,Vehicle Type,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,PowerCode,Value,Mode
49,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1996,Number,Units,704000.0,Rail
50,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1997,Number,Units,722000.0,Rail
51,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1998,Number,Units,802000.0,Rail
52,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1999,Number,Units,903000.0,Rail
53,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...,...
6476,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,Rail
6477,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,Rail
6478,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,Rail
6479,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,Rail
6480,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,Rail

# Setting the correct unit name for the "Unit" column
    Rule: For the rows that provide info about weight, the unit is 10^3 tonnes / yr. Therfore, the magnitude of the value provided is kept the same For the rows that provide info about TEU, the unit is kept as "Number"

In [12]:
# For each row, do the following
for index, row in df.iterrows():
    if row["Unit"] == "Tonnes":
        
        # Setting the new value for the cell
        df.set_value(index, 'Unit', "10^3 tonne / yr")

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

# Removing the "PowerCode" column
    Rule: This column is not necessary

In [13]:
df.drop(columns=["PowerCode"], inplace=True)
df

,Vehicle Type,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,Value,Mode
49,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1996,Number,704000.0,Rail
50,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1997,Number,722000.0,Rail
51,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1998,Number,802000.0,Rail
52,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),1999,Number,903000.0,Rail
53,Container,All,All,Freight,International Transport Forum,India,Rail containers transport (TEU),2000,Number,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...
6476,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2017,10^3 tonne / yr,4786.0,Rail
6477,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (weight),2018,10^3 tonne / yr,5478.3,Rail
6478,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2016,Number,333484.0,Rail
6479,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2017,Number,524020.0,Rail
6480,Container,All,All,Freight,International Transport Forum,Belarus,Rail containers transport (TEU),2018,Number,635886.0,Rail

# Determining the available values under the "Variable" column

In [14]:
set(df["Variable"])

{'Maritime containers transport (TEU)',
 'Maritime containers transport (weight)',
 'Rail containers transport (TEU)',
 'Rail containers transport (weight)'}

# Setting the correct value for "Variable" column
    Rule: Container data is presented as either TEU or Weight. Therefore, this is how each of the current variable values will be mapped to the new Variable:
     'Maritime containers transport (TEU)' --> Freight (TEU)
     'Maritime containers transport (weight)' --> Freight (Weight)
     'Rail containers transport (TEU)' --> Freight (TEU)
     'Rail containers transport (weight)' --> Freight (Weight)

In [15]:
# Looping each row and setting the correct value
for index, row in df.iterrows():
    if "TEU" in row["Variable"]:
        df.set_value(index,"Variable","Freight (TEU)")
    else:
        df.set_value(index,"Variable","Freight (Weight)")

# Validating the data
for index, row in df.iterrows():
    if row["Variable"] == "Freight (TEU)":
        assert row["Unit"] == "Number"
    else:
        assert row["Unit"] == "10^3 tonne / yr"

df

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,Vehicle Type,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,Value,Mode
49,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1996,Number,704000.0,Rail
50,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1997,Number,722000.0,Rail
51,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1998,Number,802000.0,Rail
52,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1999,Number,903000.0,Rail
53,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),2000,Number,1045000.0,Rail
...,...,...,...,...,...,...,...,...,...,...,...
6476,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2017,10^3 tonne / yr,4786.0,Rail
6477,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2018,10^3 tonne / yr,5478.3,Rail
6478,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2016,Number,333484.0,Rail
6479,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2017,Number,524020.0,Rail
6480,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2018,Number,635886.0,Rail

# Getting the ISO code for each country
    Rule: For each country, we need to assign its respective ISO code

## Determining which countries do not appear in the list of ISO Code
    As seen from the code below, four countries appear to not have ISO code. However, the reason is because the countries are written in a format that is not understandable. So, this is how each those "missing" countries will be called in order to obtain their ISO code

    Original Name --> New name
        > Korea --> Korea, Republic of

In [16]:
# Getting the list of countries available
list_of_countries = list(set(df["Country"]))

# Getting the list of countries with no ISO code
countries_with_no_ISO_code = countryCodeManager.get_list_of_countries_with_no_iso_code(list_of_countries)
        
# Print this list of countries with no ISO codes
countries_with_no_ISO_code

['Korea']

## Adding the ISO column to the df

In [17]:
dirty_list_of_all_countries = df["Country"]
clean_list_of_all_countries = []

for country in dirty_list_of_all_countries:
    if country == "Korea":
        clean_list_of_all_countries.append("Korea, Republic of")
    else:
        clean_list_of_all_countries.append(country)

# Ensure the size of the cleaned list is the same as the dirty list
assert len(clean_list_of_all_countries) == len(dirty_list_of_all_countries)

# Assert that for all elements in the new list, no country is left without an ISO code
assert len(countryCodeManager.get_list_of_countries_with_no_iso_code(clean_list_of_all_countries)) == 0

# Getting the list of iso codes
list_of_iso_codes = countryCodeManager.get_list_of_iso_for_countries(clean_list_of_all_countries)

# Adding the column to the dataframe
df[ColumnName.ISO_CODE.value] = list_of_iso_codes
df

,Vehicle Type,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,Value,Mode,ISO Code
49,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1996,Number,704000.0,Rail,IND
50,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1997,Number,722000.0,Rail,IND
51,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1998,Number,802000.0,Rail,IND
52,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1999,Number,903000.0,Rail,IND
53,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),2000,Number,1045000.0,Rail,IND
...,...,...,...,...,...,...,...,...,...,...,...,...
6476,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2017,10^3 tonne / yr,4786.0,Rail,BLR
6477,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2018,10^3 tonne / yr,5478.3,Rail,BLR
6478,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2016,Number,333484.0,Rail,BLR
6479,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2017,Number,524020.0,Rail,BLR
6480,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2018,Number,635886.0,Rail,BLR

# Getting the ITEM region for each country

## Determining which countries are missing an ITEM region
    As seen from the cell below, there is no country that does no have a respective ITEM region. Therefore, no further cleaning needs to be done to get the item regions.

In [18]:
# Getting the list of ISO codes
list_of_iso_codes = list(set(df["ISO Code"]))

# Getting the list of ISO code with no region
iso_code_with_no_region = countryCodeManager.get_list_of_iso_codes_with_no_region(list_of_iso_codes)

# printing the list of ISO codes
iso_code_with_no_region

[]

## Adding the ITEM region column to the dataset

In [19]:
# Getting the complete list of iso codes
list_of_all_codes = df["ISO Code"]

item_region = countryCodeManager.get_list_of_regions_for_iso_codes(list_of_all_codes)

# Adding the column to the dataframe
df[ColumnName.ITEM_REGION.value] = item_region
df

,Vehicle Type,Fuel,Technology,Service,Source,Country,Variable,Year,Unit,Value,Mode,ISO Code,Region
49,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1996,Number,704000.0,Rail,IND,India
50,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1997,Number,722000.0,Rail,IND,India
51,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1998,Number,802000.0,Rail,IND,India
52,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),1999,Number,903000.0,Rail,IND,India
53,Container,All,All,Freight,International Transport Forum,India,Freight (TEU),2000,Number,1045000.0,Rail,IND,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2017,10^3 tonne / yr,4786.0,Rail,BLR,Non-EU Europe
6477,Container,All,All,Freight,International Transport Forum,Belarus,Freight (Weight),2018,10^3 tonne / yr,5478.3,Rail,BLR,Non-EU Europe
6478,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2016,Number,333484.0,Rail,BLR,Non-EU Europe
6479,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2017,Number,524020.0,Rail,BLR,Non-EU Europe
6480,Container,All,All,Freight,International Transport Forum,Belarus,Freight (TEU),2018,Number,635886.0,Rail,BLR,Non-EU Europe

# Reordering the columns
    Rule: The columns have to be presented in the order presented by the template

In [20]:
df = dataframeManager.reorder_columns(df)
df

,Source,Country,ISO Code,Region,Variable,Unit,Service,Mode,Vehicle Type,Technology,Fuel,Value,Year
49,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,704000.0,1996
50,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,722000.0,1997
51,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,802000.0,1998
52,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,903000.0,1999
53,International Transport Forum,India,IND,India,Freight (TEU),Number,Freight,Rail,Container,All,All,1045000.0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6476,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (Weight),10^3 tonne / yr,Freight,Rail,Container,All,All,4786.0,2017
6477,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (Weight),10^3 tonne / yr,Freight,Rail,Container,All,All,5478.3,2018
6478,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,333484.0,2016
6479,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,524020.0,2017
6480,International Transport Forum,Belarus,BLR,Non-EU Europe,Freight (TEU),Number,Freight,Rail,Container,All,All,635886.0,2018

# Exporting the results

In [21]:
# Programming Friendly View
dataframeManager.create_programming_friendly_file(df)

# User Friendly View
dataframeManager.create_user_friendly_file(df)

> PF File saved at: /Users/hlinero/Documents/database/item/historical/scripts
> UF File saved at: /Users/hlinero/Documents/database/item/historical/scripts